#trashCan {
    z-index: 1;
    width:100px;
    height:auto;
}
game-trash{
    z-index: 0;
    width:100px;
    height:auto;
}

#Paper{
width: 50px;
height:auto;
}
#gameover {
    background:red;
    visibility: hidden;
    font-size: 500%;
    color: black;
}