title{
  text-align: center;
}
body{
  background-color: #66CDAA;
}
h1{
  text-align: center;
  color: #f44277;
  font-size: 70px;
  font-family: 'Changa', sans-serif;
}
#Purpose{
  color: #f4424e;
  font-size: 30px;
  font-family: 'Changa', sans-serif;
}
#trash{
  position: relative;
  width: 50%;
  height:50%;
}
.button1{
  position: absolute;
  left: 800px;
  top: 255px;
  position: center;
}
#StartGame:hover {background: #eee;}
#StartGame{
  width: 150px;
  font-family: 'Bungee Inline', cursive;
  font-size: 45px;
  color: green;
  padding: 10px;
  border: none;
  background-color: inherit;
  padding: 10px 5px;
  font-size: 27px;
  cursor: pointer;
  display: inline-bl
}
.button2{
  position: absolute;
  left: 800px;
  top: 400px;
  position: center;
}
#MoreInfo:hover {background: #eee;}
#MoreInfo{
  width: 150px;
  font-family: 'Bungee Inline', cursive;
  font-size: 45px;
  color: green;
  padding: 10px;
  border: none;
  background-color: inherit;
  padding: 10px 5px;
  font-size: 27px;
  cursor: pointer;
  display: inline-bl
}
